<div class="container mt-4">
    <form (ngSubmit)="startSearch()" [formGroup]="searchForm" class="p-4 bg-gray-100 rounded shadow" novalidate>
        <div class="flex items-center space-x-4">
            <div class="flex-1">
                <label for="filmTitle" class="block text-sm font-medium text-gray-700">Enter the movie title</label>
                <input formControlName="title" id="filmTitle" type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Movie title">
                <div *ngIf="searchForm.controls['title'].invalid && (searchForm.controls['title'].dirty || searchForm.controls['title'].touched)" class="text-red-600 text-sm">
                    Title is required.
                </div>
            </div>
            <div class="flex-1">
                <label for="filmYear" class="block text-sm font-medium text-gray-700">Choose the year</label>
                <input formControlName="year" id="filmYear" type="number" min="1900" max="2024" step="1" value="2016" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <div *ngIf="searchForm.controls['year'].invalid && (searchForm.controls['year'].dirty || searchForm.controls['year'].touched)" class="text-red-600 text-sm">
                    <div *ngIf="searchForm.controls['year'].errors?.['required']">Year is required.</div>
                    <div *ngIf="searchForm.controls['year'].errors?.['min']">Year must be at least 1900.</div>
                    <div *ngIf="searchForm.controls['year'].errors?.['max']">Year cannot be more than {{ 2024 }}.</div>
                </div>
            </div>
            <div class="flex-none">
                <button type="submit" class="mt-5 px-4 py-2 bg-indigo-600 text-white font-medium rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                    Search
                </button>
            </div>
        </div>
    </form>
    <div *ngIf="searchResults" class="mt-4">
        <h2 class="text-lg font-medium text-gray-700">Search Results:</h2>
        <ul class="list-disc pl-5">
            <li *ngFor="let key of searchResults | keyvalue">
                <strong>{{ key.key }}:</strong> 
                <span *ngIf="key.key !== 'Poster'">{{ key.value }}</span>
                <img *ngIf="key.key === 'Poster'" [src]="key.value" alt="Movie Poster" class="mt-2 w-48 h-auto">
                <span *ngIf="key.key === 'imdbRating'">
                    <div>
                        <!-- <h3 class="text-xl font-bold text-red-500">IMDb Rating: {{ key.value }}</h3> -->
                        <div class="flex items-center">
                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                                <svg *ngIf="star <= (key.value/2)" class="w-6 h-6 text-yellow-500" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.69h4.162c.969 0 1.371 1.24.588 1.81l-3.37 2.448a1 1 0 00-.364 1.118l1.286 3.957c.3.921-.755 1.688-1.54 1.118l-3.37-2.448a1 1 0 00-1.175 0l-3.37 2.448c-.784.57-1.838-.197-1.54-1.118l1.286-3.957a1 1 0 00-.364-1.118L2.05 9.384c-.783-.57-.38-1.81.588-1.81h4.162a1 1 0 00.95-.69l1.286-3.957z"/>
                                </svg>
                                <svg *ngIf="star > (key.value / 2)" class="w-6 h-6 text-gray-300" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.69h4.162c.969 0 1.371 1.24.588 1.81l-3.37 2.448a1 1 0 00-.364 1.118l1.286 3.957c.3.921-.755 1.688-1.54 1.118l-3.37-2.448a1 1 0 00-1.175 0l-3.37 2.448c-.784.57-1.838-.197-1.54-1.118l1.286-3.957a1 1 0 00-.364-1.118L2.05 9.384c-.783-.57-.38-1.81.588-1.81h4.162a1 1 0 00.95-.69l1.286-3.957z"/>
                                </svg>
                            </ng-container>
                        </div>
                    </div>
                </span>
            </li>
        </ul>
    </div>
</div>
